<%# locals: (error:, show_actions: true) -%>

<%= tag.section id: dom_id(error), class: "space-y-6" do %>
  <div class="flex justify-between items-center">
    <%= tag.h1 class: "font-bold flex items-center text-2xl gap-2" do %>
      <%= error.severity_emoji %>
      <code><%= error.exception_class %></code>
      from
      <em><code><%= error.source %></code></em>
    <% end %>

    <small class="text-base">
      #<code><%= error.id %></code>
    </small>
  </div>

  <pre class="whitespace-pre-wrap"><%= error.message %></pre>

  <dl class="flex-1 grid grid-cols-2 gap-x-4">
    <div class="flex items-center justify-between flex-wrap gap-x-2">
      <dt class="font-bold">
        <%= SolidErrors::Error.human_attribute_name(:severity) %>
      </dt>
      <dd class="inline-flex items-center gap-1">
        <%= error.severity_emoji %>
        <span class="<%= error.severity_badge_classes %>">
          <%= error.severity %>
        </span>
      </dd>
    </div>
    <div class="flex items-center justify-between flex-wrap gap-x-2">
      <dt class="font-bold">
        <%= SolidErrors::Error.human_attribute_name(:status) %>
      </dt>
      <dd class="inline-flex items-center gap-1">
        <%= error.status_emoji %>
        <span class="<%= error.status_badge_classes %>">
          <%= error.status %>
        </span>
      </dd>
    </div>
    <div class="flex items-center justify-between flex-wrap gap-x-2">
      <dt class="font-bold">
        <%= SolidErrors::Error.human_attribute_name(:first_seen) %>
      </dt>
      <dd class="inline-flex items-center gap-1">
        <% first_seen_at = error.occurrences.minimum(:created_at) %>

        <abbr title="<%= first_seen_at.iso8601 %>" class="cursor-help">
          <%= time_tag first_seen_at, "#{time_ago_in_words(first_seen_at)} ago" %>
        </abbr>
      </dd>
    </div>
    <div class="flex items-center justify-between flex-wrap gap-x-2">
      <dt class="font-bold">
        <%= SolidErrors::Error.human_attribute_name(:last_seen) %>
      </dt>
      <dd class="inline-flex items-center gap-1">
        <% last_seen_at = error.occurrences.maximum(:created_at) %>

        <abbr title="<%= last_seen_at.iso8601 %>" class="cursor-help">
          <%= time_tag last_seen_at, "#{time_ago_in_words(last_seen_at)} ago" %>
        </abbr>
      </dd>
    </div>
    <div class="flex items-center justify-between flex-wrap gap-x-2">
      <dt class="font-bold">
        <%= SolidErrors::Error.human_attribute_name(:exception_class) %>
      </dt>
      <dd class="inline-flex items-center gap-1">
        <code><%= error.exception_class %></code>
      </dd>
    </div>
    <div class="flex items-center justify-between flex-wrap gap-x-2">
      <dt class="font-bold">
        <%= SolidErrors::Error.human_attribute_name(:source) %>
      </dt>
      <dd class="inline-flex items-center gap-1">
        <em><%= error.source %></em>
      </dd>
    </div>
    <div class="flex items-start justify-between flex-wrap gap-x-2">
      <dt class="font-bold">
        <%= SolidErrors::Error.human_attribute_name(:project_root) %>
      </dt>
      <dd class="">
        <span><%= SolidErrors::BacktraceLine::RAILS_ROOT %></span>
      </dd>
    </div>
    <div class="flex items-start justify-between flex-wrap gap-x-2">
      <dt class="font-bold">
        <%= SolidErrors::Error.human_attribute_name(:gem_root) %>
      </dt>
      <dd class="">
        <ul>
          <% Gem.path.each do |path| %>
            <li><%= path %></li>
          <% end %>
        </ul>
      </dd>
    </div>
  </dl>

  <%= render "solid_errors/errors/actions", error: error if show_actions %>
<% end %>
