<div class="mb-6 border-b border-gray-300 flex justify-between items-baseline">
  <h1 class="font-bold flex items-center text-2xl gap-2">
    Errors
  </h1>
  <nav class="-mb-px flex space-x-8" aria-label="Tabs">
    <%= link_to errors_path(scope: :unresolved), class: class_names(
          "inline-flex items-center border-b-2 px-1 py-4 text-sm font-medium",
          "border-blue-500 text-blue-500" => !error_scope.resolved?,
          "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" => error_scope.resolved?) do %>
      <span class="mr-2"><%= SolidErrors::Error::STATUS_TO_EMOJI[:unresolved] %></span>
      <span>Unresolved</span>
    <% end %>
    <%= link_to errors_path(scope: :resolved), class: class_names(
          "inline-flex items-center border-b-2 px-1 py-4 text-sm font-medium",
          "border-blue-500 text-blue-500" => error_scope.resolved?,
          "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" => !error_scope.resolved?) do %>
      <span class="mr-2"><%= SolidErrors::Error::STATUS_TO_EMOJI[:resolved] %></span>
      <span>Resolved</span>
    <% end %>
  </nav>
</div>

<table class="min-w-full divide-y divide-gray-300">
  <thead>
    <tr>
      <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Error</th>
      <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Count</th>
      <th scope="col" class="px-3 py-3.5 text-right text-sm font-semibold text-gray-900">Last</th>
      <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
        <span class="sr-only">Resolve</span>
      </th>
    </tr>
  </thead>

  <tbody class="bg-white">
    <%= render partial: "solid_errors/errors/row", collection: @errors, as: :error %>
  </tbody>
</table>
